<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Do Khac Viet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Do Khac Viet", "DkvIndex", "DkvHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "DkvIndex", "DkvHome")</li>
                    <li>@Html.ActionLink("About", "DkvAbout", "DkvHome")</li>
                    <li>@Html.ActionLink("Contact", "DkvContact", "DkvHome")</li>

                    <li>@Html.ActionLink("DKV_QUANTRI", "DkvIndex", "QUAN_TRI")</li>
                    <li>@Html.ActionLink("DKV_KHACHHANG", "DkvIndex", "KHACH_HANG")</li>
                    <li>@Html.ActionLink("DKV_HINHNEN", "DkvIndex", "HINH_NEN")</li>
                    <li>@Html.ActionLink("DKV_DANHGIA", "DkvIndex", "DANH_GIA")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Do Khac Viet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
